<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :commentaire %><br>
    <%= f.text_area :commentaire %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>